mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's Profile Picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="Whatcha got going on?")
            .buttonsContainer(style="display: flex")
                button#submitPostButton(disabled="" ) Post
                button#uploadImage
                    i(class="fal fa-image", style="font-size: 1.5rem; pointer-events: none;")
                .postImageContainer
                button#cancelImage
                    i(class="fal fa-trash", style="font-size: 1.5rem; pointer-events: none; color: red;")

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="User's Profile Picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="Whatcha got going on?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete Post
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    p Are you sure you want to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnPinPostModal()
    +createPostImageUploadModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id, style="outline: none;") #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class = className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageUploadModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload Profile Picture
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='coverPhotoUploadModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload Cover Photo
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#coverPhotoButton.btn.btn-primary(type='button') Save

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='confirmPinModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this Post?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    p This post will appear at the top of your profile. You can pin only one post.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') Pin

mixin createUnPinPostModal()
    #unpinModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='unpinModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Unpin this Post?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    p This post will be unpinned
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#unpinPostButton.btn.btn-primary(type='button') UnPin

mixin createChatImage(chatData, userLoggedIn)
    if (!chatData)
        return
    
    - var i = 0
    - var maxImagesToShow = 3
    - var remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers--

    .chatImagesContainer

        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}

        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue
            else if i >= maxImagesToShow
                - break

            img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chatNameModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#chatNameModalLabel.modal-title Enter the new Chat name:
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    input#chatNameTextbox(type="text", placeholder="Enter a name for this chat", value=chat.chatName)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#chatNameButton.btn.btn-primary(type='button') Save

mixin editAboutField()
    #editAboutField.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editAboutFieldLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#editAboutFieldLabel.modal-title Edit About
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    input#aboutFieldInput(style="width: 100%; padding: 0.2rem;", type="text", placeholder="Hi There! Thunder Me!")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#changeAboutButton.btn.btn-primary(type='button', disabled="") Change

mixin createPostImageUploadModal()
    #createPostImageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='createPostImageUploadModalLabel' aria-hidden='true', style="padding-right: 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#createPostImageUploadModalLabel.modal-title Crop Image
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    input#filePostPhoto(type="file", name="filePostPhoto", accept="image/*")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#postImageUploadButton.btn.btn-primary(type='button') OK